#include <mouse-gesture.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        C_ESC {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            timeout-ms = <50>;
        };

        C_DOUBLE_QUOTES {
            bindings = <&kp LS(NUMBER_2)>;
            key-positions = <2 3>;
            timeout-ms = <50>;
        };

        C_AT {
            bindings = <&kp JP_AT>;
            key-positions = <6 7>;
            timeout-ms = <50>;
        };

        C_UNDERSCORE {
            bindings = <&kp JP_UNDERSCORE>;
            key-positions = <7 8>;
            timeout-ms = <50>;
        };

        C_TAB {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
            timeout-ms = <50>;
        };

        C_CAPSLOCK {
            bindings = <&kp LS(CAPSLOCK)>;
            key-positions = <12 13>;
            timeout-ms = <50>;
        };

        C_SPACE {
            bindings = <&kp SPACE>;
            key-positions = <11 13>;
            timeout-ms = <50>;
        };

        C_BACKSPACE {
            bindings = <&kp BACKSPACE>;
            key-positions = <16 17>;
            timeout-ms = <50>;
        };

        C_DELETE {
            bindings = <&kp DELETE>;
            key-positions = <17 18>;
            timeout-ms = <50>;
        };

        C_ENTER {
            bindings = <&kp ENTER>;
            key-positions = <16 18>;
            timeout-ms = <50>;
        };

        C_CTL_Z {
            bindings = <&kp LC(Z)>;
            key-positions = <21 22>;
            timeout-ms = <50>;
        };

        C_CTL_Y {
            bindings = <&kp LC(Y)>;
            key-positions = <22 23>;
            timeout-ms = <50>;
        };

        C_HOME {
            bindings = <&kp HOME>;
            key-positions = <28 29>;
            timeout-ms = <50>;
        };

        C_END {
            bindings = <&kp END >;
            key-positions = <29 30>;
            timeout-ms = <50>;
        };

        C_Double_BRACKET {
            bindings = <&Double_BRACKET>;
            key-positions = <25 26>;
            timeout-ms = <50>;
        };

        C_Double_PAREN {
            bindings = <&Double_PAREN>;
            key-positions = <37 38>;
            timeout-ms = <50>;
        };

        C_Double_DOUBLE_QUOTES {
            bindings = <&Double_DOUBLE_QUOTES;
            key-positions = <2 3 6 7>;
            timeout-ms = <50>;
        };
    };

    macros {
        Double_BRACKET: Double_BRACKET {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp JP_LBRACKET &kp JP_RBRACKET &kp LEFT_ARROW>;
        };

        Double_PAREN: Double_PAREN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp JP_LPAREN &kp JP_RPAREN &kp LEFT_ARROW>;
        };

        Double_DOUBLE_QUOTES: Double_DOUBLE_QUOTES {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_2) &kp LS(NUMBER_2) &kp LEFT_ARROW>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans     &trans    &trans    &trans                   &trans                                                        &trans            &trans  &trans     &trans         &trans             &trans
&trans  &kp Q      &kp W     &kp E     &kp R                    &kp T                                                         &kp Y             &kp U   &kp I      &kp O          &kp P              &trans
&trans  &kp A      &kp S     &kp D     &kp F                    &kp G                 &trans                 &trans           &kp H             &kp J   &kp K      &lt 7 L        &kp MINUS          &trans
&trans  &lt 3 Z    &kp X     &kp C     &kp V                    &kp B                 &kp JP_LBRACKET        &kp JP_RBRACKET  &kp N             &kp M   &kp COMMA  &kp DOT        &lt 3 SLASH        &trans
&trans  &kp LCTRL  &kp LGUI  &kp LALT  &mt LEFT_ALT LA(ESCAPE)  &mt LCTRL LANGUAGE_2  &mt LEFT_SHIFT LS(N8)  &lt 1 LS(N9)     &lt 2 LANGUAGE_1  &trans  &trans     &kp RIGHT_ALT  &kp RIGHT_CONTROL  &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans       &trans     &trans           &trans     &trans                          &trans         &trans        &trans  &trans  &trans        &trans
&trans  &kp F1       &kp F2     &kp F3           &kp F4     &kp F5                          &kp F6         &kp F7        &kp F8  &kp F9  &kp F10       &trans
&trans  &kp N1       &kp N2     &kp N3           &kp N4     &kp N5        &trans   &trans   &kp N6         &kp N7        &kp N8  &kp N9  &kp NUMBER_0  &trans
&trans  &kp JP_PLUS  &kp MINUS  &kp JP_ASTERISK  &kp SLASH  &kp JP_EQUAL  &kp F11  &kp F12  &kp SEMICOLON  &kp JP_COLON  &trans  &trans  &trans        &trans
&trans  &trans       &trans     &trans           &trans     &trans        &trans   &trans   &trans         &trans        &trans  &trans  &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans           &trans         &trans            &trans        &trans                           &trans            &trans        &trans           &trans           &trans             &trans
&trans  &kp JP_QUOTE     &kp JP_DQUOTE  &kp JP_BACKQUOTE  &kp JP_TILDE  &kp JP_CARET                     &none             &none         &kp JP_LPAREN    &kp JP_RPAREN    &kp JP_UNDERSCORE  &trans
&trans  &kp EXCLAMATION  &kp JP_AT      &kp HASH          &kp DOLLAR    &kp PERCENT   &trans  &trans     &kp JP_AMPERSAND  &none         &kp JP_LBRACKET  &kp JP_RBRACKET  &kp JP_PIPE        &trans
&trans  &kp JP_PLUS      &kp MINUS      &kp JP_ASTERISK   &kp SLASH     &kp JP_EQUAL  &none   &lt 5 F24  &kp SEMICOLON     &kp JP_COLON  &kp JP_LBRACE    &kp JP_RBRACE    &kp JP_YEN         &trans
&trans  &trans           &trans         &trans            &trans        &trans        &trans  &trans     &trans            &trans        &trans           &trans           &trans             &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans                  &trans       &trans                   &trans                  &trans   &trans             &trans          &trans           &trans  &trans
&trans  &trans  &trans                  &trans       &trans                   &trans                  &kp INS  &kp K_APPLICATION  &kp LG(LS(S))   &kp PRINTSCREEN  &trans  &trans
&trans  &trans  &trans                  &kp LA(TAB)  &trans                   &trans  &trans  &trans  &trans   &kp PAGE_UP        &kp UP_ARROW    &kp PAGE_DOWN    &trans  &trans
&trans  &trans  &kp LC(LG(LEFT_ARROW))  &kp LG(TAB)  &kp LC(LG(RIGHT_ARROW))  &trans  &trans  &trans  &trans   &kp LEFT_ARROW     &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans                  &trans       &trans                   &trans  &trans  &trans  &trans   &trans             &trans          &trans           &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        BLE {
            bindings = <
&trans  &trans        &trans        &trans        &trans          &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &out OUT_BLE  &out OUT_USB  &trans        &bt BT_CLR_ALL  &bt BT_CLR                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans          &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans          &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        AML {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans          &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &mouse_gesture  &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK       &trans  &mkp MB3  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp MB4   &mkp MB5        &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans          &trans  &trans    &trans
            >;
        };

        Scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
