#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        C_Scroll {
            bindings = <&lt 5 F24>;
            key-positions = <17 18>;
            timeout-ms = <50>;
        };

        C_ABC {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <21 22>;
            timeout-ms = <50>;
            layers = <0>;
        };

        C_KANA {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <29 30>;
            timeout-ms = <50>;
            layers = <0>;
        };

        C_ESC {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            timeout-ms = <50>;
            layers = <0>;
        };
    };

    macros {
        underscoer: underscoer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp UNDER>;
            label = "UNDERSCOER";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans     &trans    &trans    &trans     &trans                                           &trans       &trans  &trans     &trans         &trans             &trans
&trans  &kp Q      &kp W     &kp E     &kp R      &kp T                                            &kp Y        &kp U   &kp I      &kp O          &kp P              &trans
&trans  &kp A      &kp S     &kp D     &kp F      &kp G      &trans              &trans            &kp H        &kp J   &kp K      &kp L          &kp MINUS          &trans
&trans  &kp Z      &kp X     &kp C     &kp V      &kp B      &kp LS(NUMBER_8)    &kp LS(NUMBER_9)  &kp N        &kp M   &kp COMMA  &kp DOT        &kp SLASH          &trans
&trans  &kp LCTRL  &kp LGUI  &kp LALT  &lt 1 F24  &kp SPACE  &mt LEFT_SHIFT TAB  &kp RIGHT_SHIFT   &lt 2 ENTER  &trans  &trans     &kp RIGHT_ALT  &kp RIGHT_CONTROL  &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans    &trans     &trans            &trans            &trans                              &trans            &trans      &trans      &trans      &trans        &trans
&trans  &kp F1    &kp F2     &kp F3            &kp F4            &kp F5                              &kp F6            &kp F7      &kp F8      &kp F9      &kp F10       &trans
&trans  &kp N1    &kp N2     &kp N3            &kp N4            &kp N5            &trans   &trans   &kp N6            &kp N7      &kp N8      &kp N9      &kp NUMBER_0  &trans
&trans  &kp PLUS  &kp MINUS  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp F11  &kp F12  &kp LS(NUMBER_6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &none         &trans
&trans  &trans    &trans     &trans            &trans            &trans            &trans   &trans   &trans            &trans      &trans      &trans      &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans            &trans          &trans        &trans             &trans                                   &trans          &trans          &trans           &trans           &trans      &trans
&trans  &kp LS(MINUS)     &kp LS(EQUAL)   &kp LS(0x89)  &kp LS(SEMICOLON)  &kp LS(SINGLE_QUOTE)                     &mkp MB4        &mkp MB5        &kp ESCAPE       &kp PRINTSCREEN  &kp INSERT  &trans
&trans  &kp MINUS         &kp EQUAL       &kp 0x89      &kp SEMICOLON      &kp SINGLE_QUOTE      &trans  &trans     &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &kp HOME         &kp END     &trans
&trans  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LS(0x87)  &none              &none                 &none   &lt 3 F24  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp BACKSPACE    &kp DELETE  &trans
&trans  &trans            &trans          &trans        &trans             &trans                &trans  &trans     &trans          &trans          &trans           &trans           &trans      &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans        &trans        &trans        &trans          &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &out OUT_BLE  &out OUT_USB  &trans        &bt BT_CLR_ALL  &bt BT_CLR                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans          &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans          &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        AML {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &mkp MB3   &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK  &lt 5 F24  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans     &trans  &trans
            >;
        };

        Scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
