#include <mouse-gesture.dtsi>

// マウスジェスチャーbindings定義
&zip_mouse_gesture {
    stroke-size = <100>; // Optional (default: 200)
    enable-eager-mode; // Optional, but recommended
    gesture-cooldown-ms = <200>;

    history_back {
        pattern = <GESTURE_RIGHT>;
        bindings = <&kp LC(LG(RIGHT_ARROW))>;
    };

    history_forward {
        pattern = <GESTURE_LEFT>;
        bindings = <&kp LC(LG(LEFT_ARROW))>;
    };

    close_tab {
        pattern = <GESTURE_DOWN>;
        bindings = <&kp LG(TAB)>;
    };

    new_tab {
        pattern = <GESTURE_UP>;
        bindings = <&kp LG(TAB)>;
    };
};

&zip_ztoctl {
    bindings  = <&kp LCTRL>;
};

&zip_temp_layer {
    excluded-positions = <6 7 16 17 28 29>;    // AML除外定義
    require-prior-idle-ms = <200>;           // AML誤爆防止
};

&pointing_listener {
    status = "okay";
    compatible = "zmk,input-listener";
    device = <&pointing_device>;
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
                        <&zip_temp_layer 6 10000>,    // AML用
                        <&zip_mouse_gesture>;        // マウスジェスチャー用
    scroller {        // スクローラー用
        layers = <7>;
        input-processors = <&zip_xy_scaler 1 30>,
                           <&zip_xy_to_scroll_mapper>;
    };
    ZtoCTL {        // Z長押しでコントロール
        layers = <4>;
        input-processors = <&zip_ztoctl>;
    };
};
