#include <mouse-gesture.dtsi>

&zip_mouse_gesture {
    stroke-size = <200>; // Optional (default: 200)
    enable-eager-mode; // Optional, but recommended

    history_back {
        pattern = <GESTURE_RIGHT>;
        bindings = <&kp N1>;
    };

    history_forward {
        pattern = <GESTURE_LEFT>;
        bindings = <&kp N2>;
    };

    close_tab {
        pattern = <GESTURE_DOWN>;
        bindings = <&kp N3>;
    };

    new_tab {
        pattern = <GESTURE_UP>;
        bindings = <&kp N4>;
    };
};

&pointing_listener {
    status = "okay";
    compatible = "zmk,input-listener";
    device = <&pointing_device>;
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
                        <&zip_mouse_gesture>;
    scroller {
        layers = <5>;
        input-processors = <&zip_xy_scaler 1 20>,
                           <&zip_xy_to_scroll_mapper>;
    };
};
