#include <mouse-gesture.dtsi>

&zip_mouse_gesture {
    stroke-size = <100>; // Optional (default: 200)
    enable-eager-mode; // Optional, but recommended
    gesture-cooldown-ms = <200>;

    history_back {
        pattern = <GESTURE_RIGHT>;
        bindings = <&kp LC(LG(RIGHT_ARROW))>;
    };

    history_forward {
        pattern = <GESTURE_LEFT>;
        bindings = <&kp LC(LG(LEFT_ARROW))>;
    };

    close_tab {
        pattern = <GESTURE_DOWN>;
        bindings = <&kp LG(TAB)>;
    };

    new_tab {
        pattern = <GESTURE_UP>;
        bindings = <&kp LG(TAB)>;
    };
};

&pointing_listener {
    status = "okay";
};
